<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">


    </a>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">F<span>oo</span>dy</a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        ariaCurrentWhenActive="page" class="mr-5 hover:text-gray-900">Home</a>

      <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        ariaCurrentWhenActive="page" class="mr-5 hover:text-gray-900">About Us</a>

      <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        ariaCurrentWhenActive="page" class="mr-5 hover:text-gray-900">Products</a>

      <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        ariaCurrentWhenActive="page" class="mr-5 hover:text-gray-900">Contact Us</a>

      <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        ariaCurrentWhenActive="page" class="mr-5 hover:text-gray-900">Login</a>

      <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        ariaCurrentWhenActive="page" class="mr-5 hover:text-gray-900">Register</a>

    </nav>

    <div class="icons">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-shopping-cart"></a>
      <a href="#" class="fas fa-user"></a>
    </div>
  </div>


</header>