


<div class="image-container" style="padding-top: 70px;">
  <img src="assets\carousel-1.jpg" alt="flower is here" width="100%">
  <div class="overlay-text-next">Organic Food Is<br> Good For Health</div>
  <div>

    <a href="/products"><button class="cta-buttons">Products</button></a>
<a href="/abc"><button class="cta-button">Services</button></a>
 
</div>
  
</div>




<!---------------------------- Footer starts --------------------------->
<footer class="text-gray-400 bg-black body-font">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
          
          <span class="ml-3 text-xl" style="font-family: 'Times New Roman', Times, serif; font-weight:700;font-size: calc(1.375rem + 1.5vw);"><span style="color:#3CB815">F</span><span style="color:#F65005;">oo</span><span style="color:#3CB815">dy</span></span>
        </a>
        <p class="mt-2 text-sm text-gray-500">Oraganic Food Website</p>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/3 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3" style="font-size: calc(1.275rem + .3vw);font-family:'Times New Roman', Times, serif;font-weight: 600;">Address</h2>
          <nav class="list-none mb-10">
            <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, Nagpur, Maharashtra</p>
            <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
            <p><i class="fa fa-envelope me-3"></i>info&#64;example.com</p>
          </nav>
        </div>
        <div class="lg:w-1/3 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3" style="font-size: calc(1.275rem + .3vw);font-family:'Times New Roman', Times, serif;font-weight: 600;">Quick Links</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 hover:text-white">Home</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">About Us</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Products</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Contact Us</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/3 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3" style="font-size: calc(1.275rem + .3vw);font-family:'Times New Roman', Times, serif;font-weight: 600;">NewsLetter</h2>
          <p>Connect with us.</p>
          <div class="position-relative mx-auto" style="max-width: 400px;">
            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2" style="background-color: #3CB815;margin-top: 10px;padding-left: 10px;padding-right: 10px;">SignUp</button>
        </div>
        </div>
        
      </div>
    </div>
    <div class="bg-gray-800 bg-opacity-75">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-400 text-sm text-center sm:text-left">© Foody —
          <a href="#" rel="noopener noreferrer" class="text-gray-500 ml-1" target="_blank">&#64;Tejal Bokad</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a class="text-gray-400">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>

  <!-- Footer ends -->
