img {
  width: 100%;
  height: 550px;
  top: 20%;
  object-fit: cover;
  image-rendering: optimizeQuality;
  /* CSS3 property for better image rendering */
  -webkit-backface-visibility: hidden;
  /* Prevent flickering in Safari */
  backface-visibility: hidden;
}

.overlay-text {
  position: absolute;
  top: 26%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #484848;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.overlay-text-next {
  position: absolute;
  top: 47%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #040404;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  font-family: "Lora", serif;
}

.cta-button {
  position: absolute;
  top: 75%;
  left: 27%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #F65005;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.cta-buttons {
  position: absolute;
  top: 75%;
  left: 15%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #3CB815;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}


/* --------------------------Signup button ---------------------------*/
.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.w-100 {
  width: 100% !important;
}

.form-control {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}



input {

  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;

}